<h1>Homepage</h1>
<br>

<%= button_to "Sign in with Google", "/auth/google_oauth2", method: :post , data: { turbo: false } %>
<br>
<%= button_to "Sign in with Github", data: { turbo: false } %>
<br>
<%= button_to "Sign in with Twitter", data: { turbo: false } %>
<br>
<%= button_to "Sign in with Auth0", "/auth/auth0", method: :post, data: { turbo: false } %>
<br>
<%= button_to "Sign in with LinkedIn", "/auth/linkedin", method: :post, data: { turbo: false } %>